body{
    background-image: url(https://e0.pxfuel.com/wallpapers/176/804/desktop-wallpaper-weather-beautiful-weather.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}